body{
    background-image: url(./assets/bg.png);
    background-size: cover;
    font: normal 18pt Arial;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

section{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    font: italic;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.266);
}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    font-size: 20px;
}